html {
    font-family: "Play";
    line-height: 1.5;
}

body {
    background-color: #fff;
}

ol#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table#minesweeper-grid {
    border-collapse: collapse;
}

table#minesweeper-grid, table#minesweeper-grid td {
    border: 1px solid black;
}

table#minesweeper-grid td {
    height: 30px;
    width: 30px;
    background-color: darkgray;
    text-align: center;
}

table#minesweeper-grid td.lost {
    background-color: red;
}

table#minesweeper-grid td.safe {
    background-color: lightgray;
}

table#minesweeper-grid td.suspect {
    background-color: yellow;
}