<html>

<head>
    <title>Astroport</title>
    <link href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css" />
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
    <h2 id="astroport-name">AstroYUL</h2>

    <ul id="gates">
        <li id="gate-1">
            <div id="ship-1">Ship:</div>
        </li>
        <li id="gate-2">
            <div id="ship-2">Ship:</div>
        </li>
        <li id="gate-3">
            <div id="ship-3">Ship:</div>
        </li>
    </ul>
</div>

</body>
</html>